{% extends "header.html" %}

{% block content %}

<style>

.container table{
    margin-top: 10%;
}


</style>
<body>
    <header style="margin: 5%; font-weight: 700; font-size: 50px;"> Validated Accounts </header>
    
    <div class="container">
       

        <table class="table table-bordered table-striped" style="margin-left: -15%; margin-top: -5%;">
           
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Birth Date</th>
                    <th>Contact Number</th>
                    <th>Emergency Contact</th>
                    <th>Contact Person</th>
                    <th>User SN</th>
                    <th>Balance</th>
                    <th>Graduation</th>
                    <th>Valid ID</th>
                    <th>QR</th>
                    <th>Verified</th>
                    <th>User Group</th>
                    <th>Validate</th>
                </tr>
         
            <tbody>
                {% for user in commuter_users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.status }}</td>
                        <td>{{ user.gender }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.birthDate }}</td>
                        <td>{{ user.contactNumber }}</td>
                        <td>{{ user.emergencyContact }}</td>
                        <td>{{ user.contactPerson }}</td>
                        <td>{{ user.userSN }}</td>
                        <td>{{ user.balance }}</td>
                        <td>{{ user.graduation }}</td>
                        <td>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#validIDModal{{ user.id }}">
                                View Valid ID
                            </button>
                            <!-- Valid ID Modal -->
                            <div class="modal fade" id="validIDModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="validIDModalLabel{{ user.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="validIDModalLabel{{ user.id }}">Valid ID</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% if user.validID %}
                                                <img src="{{ user.validID.url }}" alt="Valid ID" class="img-fluid">
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#qrModal{{ user.id }}">
                                View QR Code
                            </button>
                            <!-- QR Modal -->
                            <div class="modal fade" id="qrModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel{{ user.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="qrModalLabel{{ user.id }}">QR Code</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% if user.QR %}
                                                <img src="{{ user.QR.url }}" alt="QR Code" class="img-fluid">
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ user.verified }}</td>
                        <td>{{ user.UserGroup }}</td>
                        <td>
                            {% if user.verified %}
                                Verified
                            {% else %}
                                <form method="post" action="{% url 'update_validation' user.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success">PROCESSING</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}
