django
django-crispy-forms
pillow
bootstrap4
qrcode[pil]
django-phonenumber-field
django-phonenumber-field[phonenumbers]
six
django-recaptcha
captcha
django-captcha
django-recaptcha
beautifulsoup4
request