<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<style>
.container {
  z-index: 1000;
  
}

</style>
<body>


<div class="container">
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
   
  <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message|safe|escape }}
  </div>

  {% elif message.tags == 'error' %}
  <div class="alert alert-info alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{{ message|safe|escape }}
  </div>

  {% elif message.tags == 'info' %}
  <div class="alert alert-warning alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message|safe|escape }}
  </div>

  {% elif message.tags == 'warning' %}
  <div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message|safe|escape }}
  </div>
</div>

{% endif %}
{% endfor %}
{% endif %}

</body>
</html>

